
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,100');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    overflow-y: scroll;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}


/*******For Header***********/

.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    z-index: 1;
}

.header .large-header {
    background-image: url("../image/background.jpg");
    filter: brightness(60%);
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    font-family: 'Roboto', sans-serif;


}

.main-title {
    text-transform: uppercase;
    font-size: 6em;
    letter-spacing: 0.01em;
    font-weight: 100;

}

.main-title .thin {
    font-weight: 400;
}
nav ul li a{
    color:#F6E2E2;
    transition-duration: 1s;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    color:#3DA4AB;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .header .main-title {
        font-size: 3em;
    }
}

.content{
    display: flex;
}


/*End of header*/


/* About content */

div p{
    margin-left : 50px;
    margin-right: 50px;
}

/*End of about content*/





.port-image {
    width: 100%;
    height:300px;
}

.text-capitalize{
    text-transform: uppercase;
}

.col-md-3
{
    margin-bottom:20px;
}

.each-item {
    position:relative;
    overflow:hidden;
}

.each-item:hover .cap2, .each-item:hover .cap1 {
    left:0px;
}

.cap1 {
    position:absolute;
    width:100%;
    height:70%;
    background:rgba(255, 255, 255, 0.5);
    top:0px;
    left:-100%;
    padding:10px;
    text-align: center;
    transition: all .5s;
}

.cap2 {
    position:absolute;
    width:100%;
    height:30%;
    background:rgba(0, 178, 255, 0.5);
    bottom:0;
    left:100%;
    padding:10px;
    transition: all .5s;
}


.gallery-title {
    text-align: center;
    font-size: 36px;
    color: #42B32F;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

/*For form*/

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="password"], .contact-form textarea {
    font-size: 16px;
    padding: 10px 20px;
    background: none;
    color: #333333;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
}



/*For image sliding*/

h1 { font-weight: 700; }

#my-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}



.flip-container {
    display: inline-block;
    perspective: 1000px;
}

.flip-container, .front, .back {
    transform-style: preserve-3d;
    width: 320px;
    height: 420px;
}

/* flip speed goes here */

.flipper {
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.fast { transition: 0.1s !important; }

/* back, initially hidden pane */

.back { transform: rotateY(180deg); }



/*  Image Container */

.image_container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left:  0;
    right: 10%;
    background-color: #008CBA;
    overflow: hidden;
    height:0;
    opacity: 0.5;
    transition: .5s ease;
}


.image_container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* End of image container */


/*For form*/

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.form-fill{
    margin-left:25px;
}

/*End of form*/